@page
@model RetroSpyWeb.Pages.AuthenticationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication</title>
</head>
<body>
</body>
</html>
